.product-home {
    padding: 5rem 0; 
    .flex-container {
      display: flex;
      flex-direction: column;
      text-align: center;
      @include media-medium-1 {
        flex-direction:row;
     }
      .flex-item{
          padding:2rem;
          flex: 100%;
        }
    }
}
.product {
    .product-wrapper {
        .product__title {
            margin: 3rem 1rem;
            text-align: center;
            font-size: 2rem;
            font-weight: 800;
            text-transform: uppercase;
        }

        .product__item-wrapper {

            // responsive
            @include media-medium-1 {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-gap: 2rem;
            }

            .product__item {
                border-radius: 1.6rem;
                margin: 2rem 0;
                padding: 0 0 6rem 0;
                text-align: center;
                position: relative;
                transition: $transition;

                &:hover {
                    background: $white-smoke-color;
                }

                // img
                &__img {
                    width: 100%;
                    margin: 0 auto;

                    // responsive
                    @include media-sm {
                        width: 100%;
                    }
                }

                // info
                &__info {
                    padding: 1rem;
                }

                // title
                .title {
                    font-size: 1.8rem;
                    font-weight: 800;
                }

                // ratings
                .ratings span {
                    color: $emperor-color;
                }

                // text
                .text {
                    color: $emperor-color;
                    font-weight: 400;
                    width: 90%;
                    margin-right: auto;
                    margin-left: auto;

                    // responsive
                    @include media-sm {
                        width: 60%;
                    }
                }
            }
        }
    }
}