.shower {
    p,h3,h5,img {
        width: 90vw;
        margin: 0 auto;
        padding-top:1rem;
    }

    padding: 5rem 0;
    font-size:1.8rem;

    .article--shower {
        margin-top: 3rem;
    }
}